/* blogs */
.blog-section {
  width: 90%;
  margin: 100px auto 100px;
}
.blog-section a {
  text-decoration: none;
  color: #000000;
}
.blog-section a:hover {
  text-decoration: none;
  color: #fff200;
}

.title-blog {
  display: flex;
}
.title-blog a h2 {
  background-color: #fa670c;
  padding: 4px 6px 4px 6px;
  border-radius: 5px;
  margin-right: 20px;
}
.title-blog p {
  width: 580px;
}

.blogs {
  display: flex;
  justify-content: center;
  background-color: #191a23;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  gap: 3rem;
}
.blog {
  flex: 1;
  padding: 30px 15px 30px 15px;
  max-width: 500px;
}
.blog a {
  color: #fa670c;
  text-decoration: none;
}
.blog a:hover {
  color: #ffffff;
  text-decoration: none;
}
.blog:not(:last-child) {
  border-right: 0.5px solid white;
}
/* end of blogs */